/*CSS reset stylesheet*/
body, html, h1, h2 {
	padding: 0%;
	margin: 0%;
}

body {
	background-color: #f4cb42;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#about {
	background-color: #f45f42;
	height: 60px;

}

h1 {
	color: white;
	/*margin-left: 28%px;*/
 }

 section {
 	display: flex;
 	justify-content: space-between;
}

/*speech src https://www.sitepoint.com/pure-css3-speech-bubbles/*/
#speech {
  position: relative;
  width: 800px;
  height: 400px;
  line-height: 100px;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 50px;
  margin:0 auto;
  background-color: #40423f;
  /*padding-top: 15%px;*/
}

#speech h1 {
	text-align: center;
	width:;
}

#speech h2 {
	width: 160px;
}

#circle {
  width: 600px;
  height: 200px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

/*

.talk-bubble {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

.talktext {
	background-color: white;
	border: 1px solid #000;
    border-radius: 50px;
    width:160px;
	height: 115px;
	margin: 0 auto;
}
*/

/*


#speech {
/*border-radius: 50%;*/
width: 50%;
height: 400px;
padding-top: 50%;
background-color: black;
}

/* speech-bubble src http://leaverou.github.io/bubbly*/
/*
#speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
*/